<div class="form">
  <h2>Add a new Food Element</h2>
 <button (click)="showNewFoodPane()">Create Food Element</button>
</div>
<div class="form" id="showPane" *ngIf="showPane">
  <input type="text" placeholder="name" [(ngModel)]="newFood.name">
  <input type="text" placeholder="calories" [(ngModel)]="newFood.calories">
  <input type="text" placeholder="image url" [(ngModel)]="newFood.image">
  <br><br>
  <button (click)="createNewFood()">Create</button>
</div>
<br>


   <div class="form" id="foodContainer">
     <h2>Today´s foods <span>{{totalCalories}}kcal</span></h2>
     <div class="foodItem" *ngFor='let food of todaysFoods | filter:"name":pattern; let i = index'>
       <h3>{{food.name}}</h3>
       <img src="{{food.image}}" width="200" alt="Photo of {{food.name | lowercase}}">
       <p>Calories {{food.calories}}</p>
       <button (click)="removeThisFood(food, i)">Remove</button>
     </div>
   </div>
<br><br>

<div class="form">
  <h2>Food Browser</h2>
    <label for="foods_name"> Search: </label><input id="foods_name" placeholder="food name" type="text" [(ngModel)]="pattern">
</div>
<br>

 <div>
  <h1>Food List</h1>
  <ul>
   <li *ngFor="let food of foodsList | filter:'name':pattern; let i = index">
    <p>{{ i+1 }}) {{food.name}}</p>
    <p> Calories: {{food.calories}}</p>
    <img src="{{food.image}}" width="200">
    <br><br>
    <button (click)="addThisFood(food)">Add</button>
   </li>
  </ul>
 </div>
